<section class="hero">
  <img src="online.png" alt="" />
  <div class="hero-content">
    <h1>About</h1>
    <br />
    <h2>Rumah Khitanan</h2>
    <br /><br />
    <p>
      Rumah Khitanan berdiri 28 tahun lalu, ahli dalam jasa khitan, dikerjakan dengan banyak ahli-ahli profesional
      dangan menjamin mutu dan kebersihan.
      kecepatan, kecermatan dan hasil yang maksimal menjadi semboyan kami. Jangan ragu untuk menghubungi kami,
      karena kami ahli dibidang ini. Salam....kokoh <br><i>(--Abah Michel :P--)</i>
    </p>
    <a href="" class="action-btn"><b>datang..buktikan..dan lihat hasilnya...coy</b></a>
  </div>
</section>