<div class="footer">
    <footer>
        <ul>
            <li>
                <img src="instagram.png" alt="" /><a>
                    <p>Instagram</p>
                </a>
            </li>
            <li>
                <img src="facebook.png" alt="" /><a>
                    <p>Facebook</p>
                </a>
            </li>
            <li>
                <img src="twitter.png" alt="" /><a>
                    <p>Twitter</p>
                </a>
            </li>
            <li>
                <img src="telegram.png" alt="" /><a>
                    <p>Telegram</p>
                </a>
            </li>
        </ul>
    </footer>
</div>
</div>
</body>

</html>